{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'contact.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'stylecon.css' %}">
	
</head>
<body>
	<header>
	<nav class="nav-bar">
		<a href="/" class="brand-nav"><img src="{% static 'images/7logo.png' %}"></a>
		<div class="toggler-nav">
			<div class="bar" id="bar1"></div>
			<div class="bar" id="bar2"></div>
			<div class="bar" id="bar3"></div>
		</div>
		<div class="main-nav">
			<ul>
				<li><a href="/">home</a></li>
				<li><a href="gallery">Gallery</a></li>
				
				<li><a href=""  class="active">contact</a></li>
				{% if user.is_authenticated %}
	
				<a href="logout" class="btn1 sign_up" >logout</a>
		
				{% else %}
		
			<li><a  href="register" class="btn1 sign_up">Sign up</a></li>
			<li><a  href="login" class="btn1 log_in">Log In</a></li>
		</div>
{% endif %}
			</ul>
		</div>
		
	</nav>
</header>
<div class="contact">
	<div class="container">
		<div class="formbox">
			<form action="" method="GET">
				<h1>Contact Us</h1>
				<div class="inputbox">
					<input type="text" name="name" required="required">
					<span>Full Name</span>
				</div>
				<div class="inputbox">
					<input type="email" name="" required="required">
					<span>Email Address</span>	
				</div>
				<div class="inputbox">
					<textarea required="required" name="text" ></textarea>
					<span>Type Your Message Here...</span>
				</div>
				<div class="inputbox">
					<input type="submit" value="Send" name="">				
				</div>
			</form>
		</div>
		<div class="imgbox">
			<img src="{% static 'images/7logo.png' %}">
		</div>
	</div>
</div>
<div>
<section class="footer">
		<div>
			<div class="row">
				<div class="col-md-3">
					<img src="{% static 'images/7logo.png' %}" class="footer-logo">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra est vel mi eleifend finibus sed vitae nisi. Donec et.</p>
				</div>
				<div class="col-md-3">
					<h4>Features</h4>
					<a href="#"><p>Deals & Offers</p></a>
					<a href="#"><p>Customer Reviews</p></a>
					<a href="#"><p>Cancellation Policy</p></a>
				</div>
				<div class="col-md-3">
					<h4>Quick Contact</h4>
					 <a href="Tel:+917011661874"><p><i class="fa fa-phone-square"></i>701166XXXX</p></a>
					 <a href="mailto:kumarsuraj345678@gmail.com"><p><i class="fa fa-envelope"></i>kumarsuraj345678@gmail.com</p></a>
					 <a href="#"><p><i class="fa fa-home"></i>Address Here</p></a>
				</div>
				<div class="col-md-3">
					<h4>Follow Us On</h4>
					 <a href="https://www.facebook.com/"><p><i class="fa fa-facebook-official"></i>Facebook</p></a>
					 <a href="https://www.youtube.com/"><p><i class="fa fa-youtube-play"></i>Youtube</p></a>
					 <a href="https://www.twitter.com/"><p><i class="fa fa-twitter"></i>Twitter</p></a>
				</div>
			</div><hr>
			<p class="copyright">Made with <i class="fa fa-heart"></i> by Rohit and Suraj</p>
		</div>
		
	</section>
</div>

<script type="text/javascript" src="{% static 'conjquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scriptcon.js' %}"></script>
</body>
</html>